include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include pav_beneficiary *.css
recursive-include pav_beneficiary *.csv
recursive-include pav_beneficiary *.html
recursive-include pav_beneficiary *.ico
recursive-include pav_beneficiary *.js
recursive-include pav_beneficiary *.json
recursive-include pav_beneficiary *.md
recursive-include pav_beneficiary *.png
recursive-include pav_beneficiary *.py
recursive-include pav_beneficiary *.svg
recursive-include pav_beneficiary *.txt
recursive-exclude pav_beneficiary *.pyc